.header{
    display:flex;
    justify-content: center;
}

.h1{
    font-family: "gelica", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #DCDCDC
}


/* Setup for the Grid Container */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    
}

.cell1{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color:red;
    width: 223px;
    height: 481px;
   
}

.cell2{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color:orange;
}