/* Typeface code */

#h1{
    font-family: "gelica", sans-serif;
    font-weight: 600;
    font-size:40px;
    font-style: italic;
    color: #7A7A7A;
}

#p{
    font-family: "quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #7A7A7A;
}

#h3{
    font-family: "gelica", sans-serif;
    font-weight: 600;
    font-size:30px;
    font-style: italic;
    color: #7A7A7A;
    color: white;
}

#numb{
    font-family: "quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;

    display:flex;
    justify-content:flex-end;
    align-items:end;
}
/* Typeface code */



#header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    grid-column-start:1;
    grid-column-end:13;
    Grid-row: 1;
    width: auto;
    height: 280px;
}


























/* #contentarea{
    width: 230px;
    height: 450px;
    border-radius: 25px;

} */

/* #searchBubble{
    width: 500px;
    height: 30px;
    border-radius: 25px;
    border-color: none;
    font-family: "quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #7A7A7A;
}

#butt{
    font-family: "quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px;
}

a:hover #butt{
    background-color:#7A7A7A;
    color:white;
} */


/* 
#cell1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row:2;
    background-color:red;
    width: 230px;
    height: 450px;
    border-radius: 25px;
    display:flex;
    justify-content:flex-start;
    align-items:end;
    padding:20px
   
}

#cell2{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row:2;
    background-color: brown;
    width: 230px;
    height: 450px;
    border-radius: 25px;
     display:flex;
    justify-content:flex-start;
    align-items:end;
    padding:20px
}

#cell3{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row:2;
    background-color: orange;
    width: 230px;
    height: 450px;
    border-radius: 25px;
     display:flex;
    justify-content:flex-start;
    align-items:end;
    padding:20px
    
   
}

#cell4{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row:2;
    background-color: yellow;
    width: 230px;
    height: 450px;
    border-radius: 25px;
     display:flex;
    justify-content:flex-start;
    align-items:end;
    padding:20px
   
}

#cell5{
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row:2;
    background-color: green;
    width: 230px;
    height: 450px;
    border-radius: 25px;
     display:flex;
    justify-content:flex-start;
    align-items:end;
    padding:20px
   
}

#cell6{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row:3;
    background-color:#00FFFF;
    width: 230px;
    height: 450px;
    border-radius: 25px;
    display:flex;
    justify-content:flex-start;
    align-items:end;
    padding:20px
   
}

#cell7{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row:3;
    background-color: blue;
    width: 230px;
    height: 450px;
    border-radius: 25px;
     display:flex;
    justify-content:flex-start;
    align-items:end;
    padding:20px
}

#cell8{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row:3;
    background-color: purple;
    width: 230px;
    height: 450px;
    border-radius: 25px;
     display:flex;
    justify-content:flex-start;
    align-items:end;
    padding:20px
   
}

#cell9{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row:3;
    background-color: pink;
    width: 230px;
    height: 450px;
    border-radius: 25px;
     display:flex;
    justify-content:flex-start;
    align-items:end;
    padding:20px
   
}

#cell10{
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row:3;
    background-color: #808080;
    width: 230px;
    height: 450px;
    border-radius: 25px;
     display:flex;
    justify-content:flex-start;
    align-items:end;
    padding:20px
   
} */